@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/chatBackground.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: rgb(60, 69, 78);
}

::-webkit-scrollbar-thumb {
	background: rgb(93, 108, 123);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(114, 133, 151);
}